---
name: {%agentName%}
role: {%agentRole%}
title: {%agentTitle%}
adapterType: {%adapterType%}
heartbeatEnabled: true
heartbeatIntervalSec: 300
reportsTo: {%reportsTo%}
status: active
---

{%agentBody%}
